
.search_box {
  .search_nav {
    position: relative;
    display: flex;
    height: 2.5rem;
    li {
      flex: 1;
      border: 1px solid black;
    }
  }
  .search_select {
    position: absolute;
    width: 100%;
    background: #c9ffee;
    li {
      height: 2rem;
    }
  }
}
