.loader{
  text-align: center;
  padding-top:20px;

  div{
    display: inline-block;
  }
}

.con {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  padding: 16px 20px;
}
