.loader{
  text-align: center;
  padding-top:20px;

  div{
    display: inline-block;
  }
}

.con {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  padding: 16px 20px;
}

.type {
  float: left;
}

.typeitem {
  float: left;
  color: #333333;
  padding: 8px 15px;
  border: 1px solid #e7e7ec;
  border-right: none;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #e7e7ec;
  }
}

.typeactive{
  border: 1px solid #00b9fb;
  color: #00b9fb;

  &:first-child {
    border: 1px solid #00b9fb;
  }
  &:last-child {
    border: 1px solid #00b9fb;
  }
}

.date {
  border: 1px solid #dbdbdb;
  width: 246px;
  height: 32px;
  position: absolute;
  left: 50%;
  margin-left: -123px;

  & .anticon-calendar {
    font-size: 16px;
  }
}

.dateinput {
  border:none;
  float: left;
  width: 94px;
  height: 30px;
  padding: 0;
  padding-left: 17px;
  outline: none;
}

.spa {
  background: url("../assets/spa.png") no-repeat;
  width: 12px;
  height: 5px;
  float: left;
  margin-top: 13px;
}

.calendar {
  font-size: 16px;
  margin-top: 3px;
}

.btn {
  float: right;
}

.money_con {
  margin-bottom: 14px;
}

.money_left {
  position: absolute;
}

.money_item {
  background: #ff596c;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  width: 310px;
  height: 106px;
  text-align: center;
  float: left;

  & span {
    display: block;
    padding-top: 25px;
    line-height: 1;
  }

  & em {
    font-size: 26px;
    line-height: 1;
    margin-top: 14px;
    font-style: normal;
    display: block;
  }
}

.money_right {
  margin-left: 334px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.1);

  & .money_item{
    background: #fff;
    color: #333333;
    position: relative;
    width: 33.3%;

    &:after {
      content: '';
      border-right: 1px solid #e7e7eb;
      height: 48px;
      position: absolute;
      right: 0;
      top: 30px;
    }
  }
}
