:global {
  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body{
    color: #333;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .container{
    width:1000px;
    margin:0 auto;
  }
  .text-center{
    text-align: center;
  }

  .button {
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    border-radius: 3px;
    padding: 9px 24px;
    background: #fabe1d;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background: #FAD95B;
    }
  }

  .blue {
    background: #00b9fb !important;

    &:hover {
      background: #31D3FB !important;
    }
  }

  .mr12 {
    margin-right: 12px;
  }
}
