:global {
  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body{
    color: #333;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .container{
    width:1000px;
    margin:0 auto;
  }
  .text-center{
    text-align: center;
  }

  .button {
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    border-radius: 3px;
    padding: 9px 24px;
    background: #fabe1d;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background: #FAD95B;
    }
  }

  .blue {
    background: #00b9fb !important;

    &:hover {
      background: #31D3FB !important;
    }
  }

  .mr12 {
    margin-right: 12px;
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-linechart:before { content: "\e603"; }
  .icon-notifications:before { content: "\e600"; }
  .icon-reply:before { content: "\e601"; }
  .icon-visibility:before { content: "\e602"; }
  .icon-family:before { content: "\e604"; }
  .icon-book:before { content: "\e605"; }
  .icon-qr:before { content: "\e606"; }
  .icon-logo:before { content: "\e608"; }
}

@font-face {
  font-family: 'anticon';
  src: url('../static/iconfont/antd/iconfont.eot'); /* IE9*/
  src: url('../static/iconfont/antd/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../static/iconfont/antd/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../static/iconfont/antd/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../static/iconfont/antd/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'iconfont';
  src: url('../static/iconfont/haibao/iconfont.eot'); /* IE9*/
  src: url('../static/iconfont/haibao/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../static/iconfont/haibao/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../static/iconfont/haibao/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../static/iconfont/haibao/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
