html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.wrap{
    margin-top: 2.5rem;
    background-color: #f5f5f5;
}

.wrap .icon-right{
    font-size: .9rem;
    line-height: 2.5rem;
}
.wrap .icon-female,
.wrap .icon-male{
    font-size: 1.2rem;
}

.wrap>div{
    background-color: #fff;
}

.information{
    box-sizing: border-box;
    width: 100%;
    padding: .625rem;
}

.information > div{
    float: left;
}

.information .img{
    position: relative;
    width: 20%;
    height:auto;

}

.information .img img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


.information .details{
    position: relative;
    width: 80%;
    box-sizing: border-box;
    padding-left: .625rem;
}

.information .details .title{
    margin-bottom: .2rem;
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-male{
    color: #22BFF4;
}

.icon-female{
    color: #FD6A9E;
}

.details .tag{
    float: left;
    font-size: 0;
}

.tag-item{
    display: inline-block;
    width: 3.5rem;
    padding: 0 .125rem;
    margin: .125rem;
    border-radius: .125rem;
    text-align: center;
    color: #fff;
    font-size: .75rem;
}


.main{
    width: 100%;
    box-sizing: border-box;
    padding: 0 .625rem;
    margin: .625rem 0;
}

.join{
    width: 100%;
    box-sizing: border-box;
    padding: 0 .625rem;
}

.join .skill-content{
    width: 100%;
    height: auto;
    word-wrap:break-word;
}

.activite-list li{
    line-height: 2.5rem;
    font-size: .9rem;
    border-bottom: 1px solid #f1f1f1;
}

.activite-list>a {
    display: block;
    color:#333;
    border-bottom: 1px solid #f1f1f1;
}

.activite-list li:last-child{
    border-bottom: 0;
}

.activite-list li a{
    color: #333;
    font-size: .9rem;
    letter-spacing: 1px;
}

.activite-list li i{
    font-style: normal;
}

.activite-list li > span,
.activite-list li .skill{
    float: right;
    color: #999;
}

.activite-list li .skill{
    width: 13rem;
    padding-top: 10px;
    line-height: 1rem;
    text-align:right;
}

.activite-list li .skill span{
    height: 1.2rem;
    line-height: 1.2rem;
}

.activite-list li span.time{
    color:#fe6363;
}

.join>a{
    display: block;
    width: 100%;
    height: 2.5rem;
    margin-top: 1.25rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    letter-spacing: .125rem;
    text-align: center;
    color: #fff;
    background-color: #fa5351;
    border-radius: .25rem;
}
